<div id="adm-blocking-reason" class="general-entity-div divRelative">

  <!-- Listado -->
  <hnanexo-adm-blocking-reason-list
    [urlHnConfiguration]="urlHnConfiguration"
    [urlOntology]="urlOntology"
    [paginationTable]="paginationTable"
    [updateList]= "updateList"
    (onCreateEvent)="methodClickCreate()"
    (editEvent)="methodClickEdit($event)"
    (detailEvent)="methodClickDetail($event)">
  </hnanexo-adm-blocking-reason-list>

  <!-- Create panel -->
  <hn-right-panel #blockingReasonCreatePanel
    [id]="'blockingReasonCreatePanel'"
    [width]="800"
    title="{{vm.componentMessages['label.title.detail.create.blocking.reason']}}"
    class="hn-right-panel-scroll panel-white-background"
    idparent="adm-blocking-reason"
    modal="true"
    mode="info">
  <hnanexo-adm-blocking-reason-form *ngIf="blockingReasonCreatePanel.block"
    [urlHnConfiguration]="urlHnConfiguration"
    (onSubmitForm)="methodOnSubmitFormCreate()"
    (onReturnToList)="methodCloseCreate()">
  </hnanexo-adm-blocking-reason-form>
  </hn-right-panel>

  <!-- Edit panel -->
  <hn-right-panel #blockingReasonEditPanel
    [id]="'blockingReasonEditPanel'"
    [width]="800"
    title="{{vm.componentMessages['label.title.detail.modify.blocking.reason']}}"
    class="hn-right-panel-scroll panel-white-background"
    idparent="adm-blocking-reason"
    modal="true"
    mode="info">
      <hnanexo-adm-blocking-reason-form *ngIf="blockingReasonEditPanel.block"
        [urlHnConfiguration]="urlHnConfiguration"
        [dataItem]="selectedItem"
        (onSubmitForm)="methodOnSubmitFormEdit()"
        (onReturnToList)="methodCloseEdit()">
      </hnanexo-adm-blocking-reason-form>
  </hn-right-panel>

    <!-- Detail panel -->
    <hn-right-panel #blockingReasonDetailPanel
    [id]="'blockingReasonDetailPanel'"
    [width]="800"
    title="{{vm.componentMessages['label.title.detail.blocking.reason']}}"
    class="hn-right-panel-scroll panel-white-background"
    idparent="adm-blocking-reason"
    modal="true"
    mode="info">
      <hnanexo-adm-blocking-reason-detail *ngIf="blockingReasonDetailPanel.block"
      [urlHnConfiguration]="urlHnConfiguration"
      [dataItem]="selectedItem"
      (onReturnToList)="methodCloseDetail()">
      </hnanexo-adm-blocking-reason-detail>
  </hn-right-panel>

    <!-- Modal que pide confirmación para cancelar la creación o modificación -->
    <hn-dialog-component #modalCancelOperation
    [titleHeader]="selectedItem ? vm.componentMessages['label.modal.title.cancel.modification'] : vm.componentMessages['label.modal.title.cancel.creation']"
    [width]="500"
    [type]="dialog"
    class="snowBackground"
    [modal]="true"
    (methodOnAccept)="accept()"
    (methodOnCancel)="cancel()"
    (methodOnHide)="cancel()"
    [labelButtonAccept]="vm.componentMessages['label.modal.action.accept']"
    [labelButtonCancel]="vm.componentMessages['label.modal.action.cancel']"
    [iconAccept]="iconAccept"
    [iconCancel]="iconCancel">
    <div>
      <p class="hn20v2 text-justify">{{selectedItem ? vm.componentMessages['label.modal.text.cancel.modification'] : vm.componentMessages['label.modal.text.cancel.creation']}}</p>
      <span class="font-weight-bold">{{vm.componentMessages['label.modal.confirmation.message']}}</span>
    </div>
    </hn-dialog-component>
</div>
